<!-- blog/templates/blog/about.html -->

{% extends 'blog/base.html' %}

{% block content %}


<div class="flex-about">
    <div class="backgroung-about">
        <div class="about">
            <h1 class="h-about">A few words about me</h1>
            <p class="text-about">
                Hello, and welcome to my blog! My name is Vadim, and I'm someone who loves pondering the mysterious
                world
                around us. Perhaps one day, I'll gather my thoughts and write a book to share my reflections. But for
                now,
                I've decided to share a piece of my world right here.
                <br>
                <br>
                I'm passionate about many things, and each one adds its unique hue to my life. Music, art, programming,
                computer games, astronomy, anthropology, Japanese painting, and animation are just a few of my
                interests. In
                this blog, I plan to share my thoughts, inspirations, and interesting discoveries in these areas.
                <br>
                <br>
                This is just a small part of what makes me who I am. However, I believe the best way to get to know me
                is to
                follow my posts. There, you'll find not only glimpses of my life but also perhaps something that will
                inspire you. Welcome to my corner of the virtual space!
            </p>
        </div>
    </div>
    <div class="ava-about">
        <img src='https://myblog-2501.s3.eu-north-1.amazonaws.com/media/about/ava.jpg' alt="Ava">
    </div>

</div>
{% endblock %}