<!-- blog/templates/blog/base.html -->
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Blog</title>
    <!-- Подключение стилей Tailwind CSS -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body class="bg-gray-100">
    <div class="nav-link-conteiner">
        <a href="{% url 'post_list' %}" class="nav-link">Blog</a>
        <a href="{% url 'about' %}" class="nav-link">About</a>
    </div>

    <div class="container">

        {% block content %}
        {% endblock %}

    </div>

</body>

</html>