<!-- blog/templates/blog/base.html -->
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <script src="{% static 'js/script.js' %}"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vadim's Thoughts</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <!-- burger icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <!-- font-family -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Noto+Serif+Display:wght@600&family=Noto+Serif+Malayalam:wght@100&display=swap"
        rel="stylesheet">
    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'site.webmanifest' %}">
</head>



<body>
    <div class="header-container">
        <div class="header-burger">
            <i class="fas fa-bars" onclick="toggleMobileMenu()"></i>
        </div>
        <div class="nav-link-container">
            <a href="{% url 'post_list' %}"
                class="nav-link{% if active_link == 'post_list' %} active{% endif %}">Blog</a>
            <a href="{% url 'about' %}" class="nav-link{% if active_link == 'about' %} active{% endif %}">About</a>
            <!-- социальные сети -->
            <div class="social-links">
                <a href="https://www.instagram.com/to.nut/" target="_blank"><i class="fab fa-instagram"></i></a>
                <a href="https://t.me/teomirata" target="_blank"><i class="fab fa-telegram"></i></a>
            </div>
            <div class="nav-menu">
                <a href="{% url 'post_list' %}" class="nav-link">Blog</a>
                <a href="{% url 'about' %}" class="nav-link">About</a>
                <!-- социальные сети -->
                <div class="social-links">
                    <a href="https://www.instagram.com/to.nut/" target="_blank"><i class="fab fa-instagram"></i></a>
                    <a href="https://t.me/teomirata" target="_blank"><i class="fab fa-telegram"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="content-container">
        {% block content %}
        {% endblock %}
    </div>

</body>



</html>