<!-- blog/templates/blog/post_list.html -->

{% extends 'blog/base.html' %}

{% block content %}
<div class="container mx-auto flex justify-center">

    <!-- Список постов -->
    <div class="lg:w-1/2 ml-4"> <!-- Добавил ml-4 для отрицательного отступа слева -->
        {% for post in posts %}
        <div class="post bg-white p-6 shadow-md mb-4 mx-auto"> <!-- Уменьшил mb-4 на mb-2 -->
            <h2 class="text-2xl font-bold mb-2"><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
            <p class="text-gray-600 mb-2">{{ post.pub_date }}</p>
            <p class="text-gray-800">{{ post.content|truncatewords:24 }}</p>
            <p>Tags: {% for tag in post.tags.all %}{{ tag.name }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
        </div>
        {% endfor %}
    </div>

    <!-- Форма для ввода тега и Список тегов -->
    <div class="lg:w-1/5">
        <div class="post p-6 shadow-md rounded">
            <form action="{% url 'tag_filter' %}" method="get">
                <label for="tag">Filter by tags:</label>
                <div class="flex items-center">
                    <input type="text" name="tag" id="tag" placeholder="Enter tags (comma-separated)">
                    <button type="submit">Filter</button>
                </div>
            </form>
            <strong>Selected Tags:</strong>
            {% for tag in selected_tags %}
            {{ tag }}
            {% if not forloop.last %}, {% endif %}
            {% endfor %}
            <br>
            <br>
            <a href="{% url 'post_list' %}" class="hover:bg-gray-200 hover:text-blue-500 hover:underline">Reset
                filters</a>
            <br>
            <br>
            <strong>Tags:</strong>
            <div>
                {% for tag in tags %}
                <div class="tag-link-container">
                    <a href="{% url 'tag_filter' %}?tag={{ tag.name }}&action=add"
                        class="tag-link hover:bg-gray-200 hover:text-blue-500 hover:underline">+</a>
                    <a href="{% url 'tag_filter' %}?tag={{ tag.name }}&action=remove"
                        class="tag-link hover:bg-gray-200 hover:text-blue-500 hover:underline">-</a>
                    <a href="{% url 'tag_filter' %}?tag={{ tag.name }}"
                        class="tag-link hover:bg-gray-200 hover:text-blue-500 hover:underline">{{ tag.name }}</a>
                </div>
                {% endfor %}
            </div>

        </div>
    </div>

</div>
{% endblock %}